<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="referrer" content="no-referrer-when-downgrade" />

<link rel="canonical" href="{{ buildLink site.url currentFilePath }}" />
<meta name="description" content="{{ pageDescriptionWithFallback }}">
<meta name="keywords" content="{{ pageKeywordsWithFallback }}">

<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{{fullPageTitle}}}" />
<meta property="og:description" content="{{{ pageDescriptionWithFallback }}}" />
<meta property="og:url" content="{{ buildLink site.url currentFilePath }}" />
<meta property="og:image" content="{{ pageImageWithFallback }}" />


<title>{{{fullPageTitle}}}</title>

{{#if (assetImage "favicon.ico")}}
  <link rel="shortcut icon" href="{{assetImage "favicon.ico"}}" type="image/x-icon" />
{{/if}}

